fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.32
pymysql==1.1.1
pydantic==2.8.2
pydantic-settings==2.4.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.2.0
pdfplumber==0.11.4
python-docx==1.1.2
PyPDF2==3.0.1
sentence-transformers==3.0.1
faiss-cpu
pandas==2.2.2
numpy==1.26.4